:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}

.swipercontainer {
    width: 100%;
    height: 85%;
    display: flex;
    padding: 1rem;
    position: relative;
}

.swipercontainer::before {
    position: absolute;
    content: url(/public/img/bubble.svg);
    z-index: -1;
    top: -20%;
    right: 75%;
    bottom: 0;
}

.swiper {
    width: 60%;
    height: 100%;
    border-radius: 10px;
    padding: 0.2rem;
}

.card {
    background-color: rgb(23, 162, 184, 0.3);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-image: url(/public/img/home-visit-bg.png);
    background-size: cover;
    width: 95%;
    height: 100%;
    font-family: 'Prompt', sans-serif;
}

.card h2 {
    margin: 0;
    color: #280198;
    font-weight: 800;
    font-size: 1.6rem;
    max-width: 8ch;
}

.swiperslide:nth-child(2) .card {
    background-color: rgb(111, 66, 193, 0.4);
    ;
    background-image: url(/public/img/pharmacy-bg.png);
}

.swiperslide:nth-child(3) .card {
    background-color: rgb(32, 201, 151, 0.3);
    background-image: url(/public/img/find-doctor-bg.png);
}

.swiperslide:nth-child(4) .card {
    background-color: rgb(255, 251, 35, 0.3);
    background-image: url(/public/img/care-packages-bg.png);

}