* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 80vh;
  position: relative;
  overflow-x: hidden;
}

.App {
  width: 100vw;
  height: 100vh;
}

.carousel-section {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.locations-section {
  width: 100vw;
  height: 48vw;
  position: relative;
}

.locations-background {
  position: relative;
  width: 100%;
  top: -58%;
}

.locations-background img {
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
}

.locations-section::before {
  content: '';
  position: absolute;
  background-image: url(/public/img/background-2.svg);
  width: 100%;
  height: 100%;
  bottom: 20%;
  z-index: -1;
}

.more-info-section {
  width: 100vw;
  height: 60vh;
}

.insurance-section {
  width: 100vw;
  height: 80vh;
  position: relative;
}

.insurance-section img {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
}

.video-section {
  width: 100vw;
  height: 80vh;
  display: flex;
}

.video-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% + 20px);
  background-color: rgb(222, 148, 148, 0.2);
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  bottom: -2.1%;
  z-index: -1;
  left: -1%;
  transform: rotate(-5deg) skew(5deg);
  box-shadow: rgb(222, 148, 148, 0.2) 0px 5px 15px;

}

.side-video {
  width: 60%;
  height: 80%;
  margin-top: 4rem;
  margin-left: auto;
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: flex-end;
}

.video-container {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  right: -5%;
  position: absolute;
  top: -10%;
  border-bottom-left-radius: 80px;
}

.video-container img {
  transform: rotate(-5deg) skew(5deg);
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 80px;
  border-top-left-radius: 100px;
}

.info {
  margin-left: 8rem;
  margin-top: 10rem;
  font-family: 'Dosis', sans-serif;
  color: #111c63;
}

.info h2 {
  margin-bottom: 1rem;
  font-size: 4rem;
}

.info h3::after {
  content: "";
  width: 100px;
  margin-top: 0.5rem;
  background-color: #111c63;
  display: block;
  border: 2px solid #111c63;
  height: 1px;
}

.buttons-cont {
  margin-top: 1rem;
}

.buttons-cont button {
  padding: 1rem;
  font-family: 'Dosis', sans-serif;
  color: #111c63;
  font-size: 1rem;
  font-weight: 900;
  border-radius: 10px;
  background-color: rgb(127, 255, 212, 0.8);
  border: none;
  text-align: center;
}

.delivery-section {
  width: 100vh;
  height: 980px;
  position: relative;
  display: flex;
}

.delivery-section img {
  position: absolute;
}

.gif-container {
  width: 700px;
  height: 300px;
  position: absolute;
  transform: skew(-5deg);
  border-radius: 20px;
  top: 30%;
  right: 0%;
  left: 18%;
  overflow: hidden;
  z-index: 1;
}

.gif-container img {
  object-fit: contain;
  border-top-right-radius: 100px;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 50px;
}

.gif-info {
  z-index: 9999;
  align-self: center;
  width: 50ch;
  position: absolute;
  right: -50%;
  margin-bottom: 2rem;
  font-family: 'Dosis', sans-serif;
  color: #111c63;
}

.footer {
  width: 100vw;
  height: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  z-index: 2;
}

.footer-info-left {
  z-index: 3;
  color: white;
  font-size: 2rem;
  font-family: 'Dosis', sans-serif;
}

.download-cards {
  width: 100%;
  display: flex;
  gap: 4rem;
  font-size: 1rem;
}

.download-card {
  background-color: rgba(120, 239, 176, 0.4);
  border-radius: 30px;
  padding: 1rem;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  flex-direction: column;
  font-size: 1.4rem;
}

.download-card img {
  position: relative;
  width: 80%;
}

footer {
  width: 100vw;
  height: 50vh;
  background-color: rgb(17, 28, 99, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  flex-direction: column;
}

.footer-logo {
  display: flex;
  font-family: 'Dosis', sans-serif;
  gap: 1rem;
  margin-top: 1rem;
  align-items: center;
  font-size: 2rem;
}

.footer-logo img {
  width: 50px;
  height: 50px;
}

.footer-middle {
  display: flex;
  gap: 4rem;
}

.col-1 {
  max-width: 40ch;
}

.col-2 {
  max-width: 10ch;
}